body {
	background-color: blanchedAlmond;
	font-family: 'VT323', monospace;
}

b {
	color: teal;
	text-transform: uppercase;
}

.calculator {
	background-color: teal;
	justify-content: space-between;
	flex-wrap: column nowrap;
}

button {
	background-color: salmon;
	border: none;
	text-decoration: none;
	font-family: 'VT323', monospace;
	font-size: 20px;
	margin-left: 10px;
}

.display, .result {
	background-color: lightGray;
	margin: 10px;
	height: 20px;
}

.title {
	font-size: 20px;
	margin-left: 10px;
}

@media (min-width: 375px) {
	.calculator {
		max-width: 375px;
	}
}