body {
	background-color: blanchedAlmond;
	font-family: 'VT323', monospace;
}

.calculator {
	background-color: teal;
	/*display: flex;
	justify-content: space-between;
	flex-wrap: row nowrap;*/
}

.display, .result {
	background-color: lightGray;
	margin: 10px;
	height: 20px;
}